<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript">
function fn_mod(){
	location.href="mem_mod?m_id={{vo.m_id}}";
}
function fn_del(){
	if(confirm("삭제하시겠습니까?")){
		location.href="mem_del_act?m_id={{vo.m_id}}";
	}else{
		alert("삭제가 취소되었습니다.");
		history.back();
	}
}
</script>
</head>
<body>
MEM DETAIL<br/>

<table border="1">
	<tr>
		<td>사번</td>
		<td>{{vo.m_id}}</td>
	</tr>
	<tr>
		<td>이름</td>
		<td>{{vo.m_name}}</td>
	</tr>
	<tr>
		<td>성별</td>
		<td>{{vo.tel}}</td>
	</tr>
	<tr>
		<td>주소</td>
		<td>{{vo.email}}</td>
	</tr>
	<tr>
		<td colspan="2">
			<input type="button" value="수정" onclick="fn_mod()">
			<input type="button" value="삭제" onclick="fn_del()">
		</td>
	</tr>
</table>

</form>
</body>
</html>