<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript">
function fn_mod_act(){
	document.frm.submit();
}
</script>
</head>
<body>
EMP MOD<br/>
<form action="emp_mod_act" name="frm" method="post">
	<table border="1">
		<tr>
			<td>사번</td>
			<td><input type="text" value="{{vo.e_id}}" name="e_id" readonly></td>
		</tr>
		<tr>
			<td>이름</td>
			<td><input type="text" value="{{vo.e_name}}" name="e_name"></td>
		</tr>
		<tr>
			<td>성별</td>
			<td><input type="text" value="{{vo.gen}}" name="gen"></td>
		</tr>
		<tr>
			<td>주소</td>
			<td><input type="text" value="{{vo.addr}}" name="addr"></td>
		</tr>
		<tr>
			<td colspan="2">
				<input type="button" value="저장" onclick="fn_mod_act()">
			</td>
		</tr>
	</table>
</form>

</form>
</body>
</html>